<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Join') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center"><strong>Sign Up</strong></h1>
  	<h4 class="text-center">You're only one step away from something beautiful!</h4>
  		<%= render 'form' %>
  	<br>
  	<%= link_to "Sign in with Facebook", "/auth/facebook" %>
  </div>
</div>