<% provide(:title, @user.name) %>

	<% if current_user.id == @user.id %>
		<div class="row">
			<div class="text-center">
				<h1>Your photos</h1>
			</div>
		</div>
	<% else %>
		<div class="row">
			<div class="text-center">
				<h1><%= @user.name %>'s photos</h1>
			</div>
		</div>
	<% end %>


	<div class="row">
		<div class="photoset-grid-user" style="visibility: hidden;">
			<% @user.photos.each do |x| %>
				<%= image_tag(x.photo_images.first.image.list) %> 
				<%= link_to 'Show', photo_path(x) %>
				<%= link_to 'Edit', edit_photo_path(x) %>
			<% end %>
		</div>
	</div>


			 