<div class="jumbotron">
  <h1>Aperture</h1>
  <p>A space through where only the most beautiful, <b>free</b> images are found.</p>
  <p> <%= link_to "Submit a photo", submit_path, class: 'btn btn-default btn-default' %> 
  	<% if current_user == nil %>
  		or <%= link_to "Join Aperture to Like and Follow", login_path %></p> 

  	<% end %>
</div>


<div class="photoset-grid-custom" style="visibility: hidden;">
<!--   <img src="img/demo/print1-500px.jpg" data-highres="img/demo/print1-highres.jpg">
  <img src="img/demo/print2-500px.jpg" data-highres="img/demo/print2-highres.jpg">
  <img src="img/demo/print3-500px.jpg" data-highres="img/demo/print3-highres.jpg"> -->

  <% @photos.each do |x| %>
 		<%= image_tag x.photo_images[0].image.url %>
 	<% end %>

</div>