<div class="home">
	<div class="jumbotron">
	  <h1>Aperture</h1>
	  <p>A space through where only the most beautiful, <b>free</b> images are found.</p>
	  <p> <%= link_to "Submit a photo", submit_path, class: 'btn btn-default btn-default' %> 
	  	<% if current_user == nil %>
	  		or <%= link_to "Join Aperture to Follow", login_path %></p> 

	  	<% end %>
	</div>

		<div class="photoset-grid-custom" style="visibility: hidden;">
		  <% @photos.each do |x| %>
	 			<%= image_tag x.photo_images.first.image.url, data: { show: photo_path(x) } %>
		 	<% end %>
		</div>
</div>