<div class="container">
	<div class="col col-lg-8 col-lg-offset-2">
		<div class="row text-center">
			<h1><strong>Submit a photo</strong></h1>
			<p>Hi <strong><%= current_user.name %></strong>, have something beautiful you'd like to share with the world?</p>
		</div>
	</div>
	
	<div class="col col-lg-2 col-lg-offset-5">
		<div class="row text-center">
			<%= render 'form' %>
		</div>
	</div>
</div>